# Ignore node_modules
node_modules/

# Ignore build outputs
client/dist/
server/node_modules/

# Ignore IDE files
*.vscode/
*.DS_Store

# Ignore environment files
*.env

# Ignore other unnecessary files
*.log
